* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    padding: 20px;
    background-color: #fafcfb;
}

/* nav bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
}

.logo {
    height: 90px; 
}

.logo img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.navlinks {
    display: flex;
    gap: 30px;
}

.navlinks a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.2s;
}

.navlinks a:hover {
    color: #B3e9c7;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-btn {
    background-color: #B3e9c7;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: white;
    color: #B3e9c7; 
    border-style: solid;   
    border-width: thin;    
    border-color: #B3e9c7;
}

/* Home text */

.Homebody-text {
    padding: 60px;
    justify-content: center;
    text-align: center;
}

.Homebody-text h1 {
    font-weight: normal;
    padding: 25px;
    font-size: 50px;
    padding-left: 290px;
    padding-right: 290px;
}

.Homebody-text p {
    font-weight: light;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
}